body{
    background-image: url("assig.jpg");
    background-attachment: scroll;
    background-size: cover;
}
.bar{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    position: sticky;
    top: 0;
}
.as{
    font-size: 20px;
    flex-grow: 1;
}
.qw{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 00.5rem;
    cursor: pointer;
}
.qw:hover{
    background-color: rgba(255, 255, 255,0.2);
    border-bottom: 2px solid black;
}
.body_con{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    /* height: 650px; */
    text-align: center;
}
.head{
    font-size: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.mn{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    padding: 20px;
    background-color: aqua;
    margin-top: 20px;
    border-radius: 10px;
    border: 0px solid white;
}
.icon{
    color: white;
    font-size: 2rem;
}
.pa_nv{
    top:85vh;
    nav-right: 1px;
    position: sticky;
    top:1;
}
.nav{
    color: white;
    font-size: 3rem;
}